.message-card {
  max-width: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;

  color: var(--text-color-light);
  border-radius: 8px;
}
.ScrollbarsCustom-Content .message-card.me {
  background-color: var(--secondary-color);
  align-self: flex-end;
}
.ScrollbarsCustom-Content .message-card.interlocutor {
  background-color: var(--interlocutor-color);
  align-self: flex-start;
}
.message-card__text-date {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 0.5rem;
}
.message-card__name {
  text-align: center;
  font-size: 18px;
  color: var(--primary-color);
}
.message-card__date {
  font-size: 8px;
}
