.chat-room__messages {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
  height: 100%;
  padding: 1rem 5rem;
}
.chat-room__form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-block: 1rem;
  background-color: #252525;
}
.form__textarea-container {
  min-width: 10rem;
  max-width: 30rem;
  width: 100%;
  display: flex;
  padding: 1rem;
  border-radius: 8px;
  background-color: #3e3e3e;
}
.form__textarea {
  width: 100%;
  box-sizing: border-box;
  min-height: 1rem;
  height: auto;
  resize: none;
  text-orientation: mixed;
  outline: none;
  background-color: transparent;
  color: var(--text-color-light);
}
.form__btn {
  max-width: 5rem;
  margin-inline: 0;
}
