@import url('https://fonts.googleapis.com/css2?family=Varta:wght@400;700&display=swap');

:root {
  --primary-color: #dbdb2c;
  --secondary-color: #184f9c;
  --interlocutor-color: #4e4e4e;
  --error-color: #dc4545;
  --text-color: #04031f;
  --text-color-light: #edeaea;
}
/* reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
body {
  font-family: 'Varta', sans-serif;
  font-size: 16px;
  line-height: 1;
}
.App {
  overflow: visible;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1d1d1d;
}
