.chats-aside__user-card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
}
.user-card__img-wrapper {
  width: 2rem;
  border-radius: 100%;
  overflow: hidden;
}
.user-card__img-wrapper img {
  width: 100%;
}
.user-card__text {
  width: 100%;
  text-align: center;
  color: var(--text-color-light);
}
